[submodule "tmux-playbook"]
	path = tmux-playbook
	url = https://github.com/MaxMEllon/tmux-playbook
[submodule "vim-playbook"]
	path = vim-playbook
	url = https://github.com/MaxMEllon/vim-playbook.git
[submodule "dotfiles-playbook"]
	path = dotfiles-playbook
	url = https://github.com/MaxMEllon/dotfiles-playbook.git
[submodule "rbenv-playbook"]
	path = rbenv-playbook
	url = https://github.com/MaxMEllon/rbenv-playbook
[submodule "nvm-playbook"]
	path = nvm-playbook
	url = https://github.com/MaxMEllon/nvm-playbook.git
